%h1= t('Teams')
%p
	=icon('plus')
	= link_to t('team.Add team'), new_team_path
.table-responsive
	%table.table.table-striped
		%thead
			%tr
				%th= t('team.Name')
				%th= t('team.Founded')
				%th= t('team.Active')
				%th= t('team.Members')
				%th= t('administration')
		%tbody
			- @teams.each do |team|
				%tr
					%td= link_to team.name, team
					%td= team.founded
					%td= team.active
					%td= team.team_memberships.select{|membership| membership.active?}.map{|membership| link_to membership.member.full_name, member_path(membership.member)}.join('<br />').html_safe
					%td
						= link_to icon('edit'), edit_team_path(team)
						&middot;
						= link_to icon('trash-o'), team_path(team), data: {confirm: 'Are you sure?'}, method: 'delete'
