%h1= @team.name

%h3
  Members
  - if @team.active
    %small (#{link_to t('show_with_inactive'), team_team_memberships_path(@team.id)})
- unless memberships_to_show(@team).empty?
  %table.table
    %thead
      %tr
        %th Name
        %th Member since
        %th= t('administration')
    %tbody
      - memberships_to_show(@team).each do |membership|
        %tr
          %td= link_to membership.member.full_name, membership.member
          %td= membership.start
          %td= administration_links(edit: edit_team_team_membership_path(@team, membership),
            delete: team_team_membership_path(@team, membership))

%h5 Add new
= simple_form_for @memberships.build, url: team_team_memberships_path(@team) do |f|
  .row
    .col-md-3= f.association :member, label: false, label_method: :full_name, as: :select, input_html: {class: 'select2'}
    .col-md-3= f.input :start, as: :date_picker, placeholder: 'Membership start', label: false
    .col-md-3= f.input :finish, as: :date_picker, placeholder: 'Membership end', label: false
    .col-md-3= f.button :submit
