%h1= t('season.header', name: @season.name)
.possibly-wide
	%table.table.table-condensed.table-bordered#attendance-table
		%thead
			%tr
				%th{class: 'sortable'}= t('member.name')
				%th{class: 'sortable'}= t('member.attendance')
				- @season.events.each do |training|
					%th= link_to training.date.strftime("%d.%m"), season_event_path(@season, training)
		%tbody
			- @member_presences.each do |member_row|
				%tr
					%td= link_to "#{member_row[:member].last_name}&nbsp;#{member_row[:member].first_name}".html_safe, member_row[:member]
					%td= number_to_percentage(member_row[:attendance], precision: 2)
					- member_row[:presence].each do |presence|
						%td{class: presence_class(presence)}= format_presence(presence)

:javascript
	$(document).ready(function() {
		var table = $('#attendance-table').dataTable({
			"bPaginate": false,
			"bSort": false,
			"bFilter": true,
			"bAutoWidth": false,
			"bInfo": false,
			"aoColumnDefs" : [ {
				'bSortable' : true,
				'aTargets' : [ 'sortable' ]
			} ]
		});
		//new $.fn.dataTable.FixedHeader( table, {offsetTop: 50, left: true} );
	});
