%h1= t('Seasons')
%p
	=icon('plus')
	= link_to t('seasopn.Add season'), new_season_path
.table-responsive
	%table.table.table-striped
		%thead
			%tr
				%th= t('season.Name')
				%th= t('season.Start date')
				%th= t('administration')
		%tbody
			- @seasons.each do |season|
				%tr
					%td= link_to season.name, season
					%td= l(season.start)
					%td
						= link_to icon('edit'), edit_season_path(season)
						&middot;
						= link_to icon('trash-o'), season_path(season), method: 'delete'