%h1
	= t('Season')
	= @season.name

%ul.list-inline.big-font
	%li= t('season.attendances') + ":"
	- @event_types.each do |type|
		%li= link_to type.name, attendances_season_path(@season, type: type.id)
	%li= link_to t('attendance.all'), attendances_season_path(@season)

.row
	.col-md-6
		%h2= t('season.events')

		%p
			=icon('plus')
			= link_to t('events.New'), new_season_event_path(@season)

		%table.table
			%thead
				%tr
					%th= t('event.name')
					%th= t('event.type')
					%th= t('event.date')
			%tbody
				- @events.each do |event|
					%tr
						%td= link_to event_title(event), season_event_path(event.season_id, event)
						%td= t(event.event_type.name)
						%td= l(event.date)


	.col-md-6
		%h2= t('season.competitions')