%h1
	= @event.date
	%small (#{link_to t('edit'), edit_season_event_path(@event.season_id, @event)})

- unless @event.description.blank?
	= simple_format @event.description

.row
	= render partial: 'people_list', locals: {presences: @presences.select{|p| p.presence_type == 1}, title: t('training.present')}

	= render partial: 'people_list', locals: {presences: @presences.select{|p| p.presence_type == 4}, title: t('training.competition')}

	= render partial: 'people_list', locals: {presences: @presences.select{|p| p.presence_type == 3}, title: t('training.extenuated')}

	= render partial: 'people_list', locals: {presences: @presences.select{|p| p.presence_type == 2}, title: t('training.absent')}
