.possibly-wide {
	width: 100%;
	overflow: auto;
}

.present { background-color: #ACFA58 }
.competition { background-color: #58FA82 }
.absent { background-color: #FA8258}
.extenuated { background-color: #FACC2E }

.big-font {font-size: 1.5em}