= simple_form_for @membership, url: team_team_membership_path(@membership.team_id, @membership) do |f|
  = f.association :member, label_method: :full_name, as: :select, input_html: {class: 'select2'}
  = f.input :start, as: :date_picker
  = f.input :finish, as: :date_picker
  = f.button :submit
