%h1 Members of #{@team.name}

%table.table
  %thead
    %tr
      %th= t('member.name')
      %th= t('membership.start')
      %th= t('membership.finish')
      %th= t('administration')
  %tbody
    - @memberships.each do |membership|
      %tr
        %td= link_to membership.member.full_name, member_path(membership.member)
        %td= membership.start
        %td= membership.finish
        %td= administration_links(edit: edit_team_team_membership_path(@team, membership),
          delete: team_team_membership_path(@team, membership))
