.navbar-default.navbar-static-side
  .sidebar-coolapse
    %ul#side-menu.nav
      %li= link_to t('Members'), members_path
      %li= link_to t('Seasons'), seasons_path
      %li= link_to t('Teams'), teams_path