!!!
%html
  %head
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1.0"}
    %title= content_for?(:title) ? yield(:title) : 'Kkc Manager'
    %meta{:name => "description", :content => "#{content_for?(:description) ? yield(:description) : 'Kkc Manager'}"}
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application'
    = csrf_meta_tags
  %body
    %header
      = render 'layouts/navigation'
    = render 'layouts/menu'
    #page-wrapper
      .row
        .col-lg-12
          = render 'layouts/messages'
          = yield
