%p
	%strong #{t('Attendance').html_safe}:
	= number_to_percentage(attendance[:obligatory], precision: 2)
	- if attendance[:obligatory] != attendance[:all]
		(#{number_to_percentage(attendance[:all])})