= simple_form_for(member, html: {class: 'form-horizontal'}) do |f|
	= f.input :first_name
	= f.input :last_name
	= f.input :sex, collection: { male: 0, female: 1 }
	= f.input :active, wrapper: :checkbox
	= f.input :active_since
	
	= f.button :submit