%h1= t('Members')
%p
	=icon('plus')
	= link_to t('member.Add member'), new_member_path
.table-responsive
	%table.table.table-striped
		%thead
			%tr
				%th= t('member.Name')
				%th= t('member.Sex')
				%th= t('member.Active')
				%th= t('administration')
		%tbody
			- @members.each do |member|
				%tr
					%td= link_to "#{member.last_name} #{member.first_name}", member
					%td= format_sex(member.sex)
					%td= member.active
					%td
						= link_to icon('edit'), edit_member_path(member)
						&middot;
						= link_to icon('trash-o'), member_path(member), data: {confirm: 'Are you sure?'}, method: 'delete'