%h1= @member.full_name

.row
	.col-md-6
		%h3= t('Events')
		%table.table
			%thead
				%tr
					%th= t('Date')
					%th= t('Type')
					%th= t('Presence')
			%tbody
				= raw render(format_attendances(@attendance))
				- @presences.each do |presence|
					%tr{:class => Presence::PRESENCE_TYPES[presence.presence_type].downcase}
						%td= link_to presence.event.date, season_event_path(presence.event.season_id, presence.event)
						%td= t(presence.event.event_type.name)
						%td= t(Presence::PRESENCE_TYPES[presence.presence_type])

	.col-md-6
		%h3= t('Teams')
		%table.table
			%tbody
				- @member.team_memberships.order(start: :desc).includes(:team).each do |membership|
					%tr
						%td= link_to membership.team.name, membership.team
						%td
							= membership.start
							&dash;
							= membership.finish
